header{
    background-color: #374f54;
    height: 60px;
}

.logo {
    height: 50px;
}

.navbutton{
    border-radius: 10px ;
    padding: 20px;
    color: #85a98d;
    border-color: white;
}

.navbar{
    display: flex;
    justify-content: space-evenly;
    width: 300px;
}

body{
    margin: 0;
}

.center{
    display: flex; 
    justify-content: center;

    width: 100vw; 
    height: 100vh; 
}

.horisontal-center{
    display: flex; 
    justify-content: center;
    width: 100vw; 
    height: 10vh; 
}

.centered{
    display: flex; 
    justify-content: space-evenly;
    flex-direction: row;
}

.media-scroller{
    display: flex; 
    justify-content: space-between; 
    flex-wrap: wrap; 
    position: relative; 
    top: 20%; 
    gap: 30px; 
    background-color: rgb(120, 211, 108); 
    width: 95%; 
    height: 65vh; 
    overscroll-behavior: contain;
    overflow-x: hidden; 
    overflow-y: auto; 
}

.media-element{
    width: 22%; 
    height: 60%; 
    background-color: blue; 
}

.media-element > img{
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
}

.snaps{
    scroll-snap-type:y mandatory;
    scroll-padding: 1%; 
}

.snaps > *{
    scroll-snap-align: start;
}

.search-container{
    width: 70%;
    height: 50%;
    display:inline-block;
    position: relative; 
    top: 50%; 
}

.search-bar{
    width: 100%; 
    height: 100%; 
    border-bottom: 2px solid #333;
    outline: none;
    font-size: 16px;
    transition: border-bottom-color 0.3s;
    box-sizing: border-box;
  }
  
  .search-bar:focus {
    border-bottom: 5px solid #333;
    border-bottom-color: #007bff;
  }

.bottom-line{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 5px;
    width: 100%;
    background-color: #007bff;
    transform: scaleX(0); 
    transition: transform 0.3s;
}

.search-container:hover .bottom-line {
    transform: scaleX(1); 
}

.split{
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    height: 35rem;
 
}

.right-side{
    display: flex;
    justify-content: center;
    width: 60%; 
}



.text_box {
    background-color: white;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
   
   
    text-align: center;
    width: 30%;
    height: 27rem;
    animation-name: keyframe;
    animation-duration: 0ms;
    animation-iteration-count: infinite;

}
.pushy-da-box {
    width: 30%;
}
.title{
    font-family: futura;
    font-size: 4rem; 
    font-weight: bold; 
    margin: 0;
    
}

.body-text{
    font-family: futura;
    
}


#bg_image{
    position: relative;

}
  
#bg_image:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    background-image: url('https://images.unsplash.com/flagged/photo-1553505192-acca7d4509be?ixlib=rb-4.0.3');
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
    
    
}



#bg_image_opacity_overrite {
    position: relative;
   
}


@keyframes keyframe{
    0% {background-color: rgb(216, 14, 14);}
    50% {background-color: rgba(227, 43, 251);}
    100% {background-color: rgb(216, 14, 14);}
    
}
.nigger_tekst{
    display: none;
    color: black;
  
}

.secret{
   z-index: 100;
    position: absolute;
    height: 5%;
    width: 5%;
}